
.firstlinkClas{
    position: static;
    width: 77px;
    height: 29px;
    left: 137px;
    top: 0px; 
    font-family: Work Sans;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    opacity: 0.85;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 48px;
}
::placeholder {
    position: static;
    width: 93px;
    height: 24px;
    left: 10px;
    top: 10px;
    font-family: Work Sans;
    font-size: 13px;
    line-height: 150%;
    color: #000000;
  }
.lineClass{
    border: 1px solid #FCB705 ;
    position: absolute;
    width: 415px;
    height: 5px;
    left: 81px;
    top: 67px;


}
.domainTitle{
    position: absolute;
    width: 415px;
    height: 58px;
    left: 81px;
    top: 76px;
    font-family: Work Sans;
    font-size: 48px;
    line-height: 120%;
    color: #000000;
}
.secondimage{
    position: static;
    width: 250px;
    height: 250px;
    left: 0px;
    top: 0px;
    margin-left: -89%;
    margin-top: 32%;
    
}
.artificialClass{
    position: static;
    width: 365px;
    height: 43px;
    left: 0px;
    top: 0px;
    font-family: Work Sans;
    font-size: 36px;
    line-height: 282%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: '6%'
}
.artparaClass{
    position: static;
    width: 467px;
    height: 120px;
    left: 0px;
    top: 65px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    margin-left: '6%';
    margin-top: '5%'
}
.readButtonone{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    position: static;
    width: 101px;
    height: 44px;
    margin-top: 9%;
    top: 491px;
    background: #424242;
    margin-left: 13.3%;
    font-size: 19px;
    font-family: Work Sans;
    line-height: 152%
}
.thirdImage{
    position: absolute;
    left: 164px;
    top: 2629px;
    width: 444.44px;
    height: 250px;

}
.machineparaClass{
    position: static;
    width: 467px;
    height: 120px;
    left: 0px;
    top: 65px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.FourthImage{
    position: static;
    width: 262.63px;
    height: 250px;
    left: 0px;
    top: 0px;
    margin-left: 11%;
    margin-top: 14%;
}
.FifthImage{
    position: static;
    width: 386.61px;
    height: 250px;
    left: 0px;
    top: 0px;
    margin-left: 12.3%;
    margin-top: 11%;
}
.sixthImage{
    width: 6%;
    margin-left: 51%;
    margin-top: 10%;
}
.ipseClass{
    position: static;
    width: 150px;
    height: 29px;
    left: 0px;
    top: 0px;
    font-family: Work Sans;
    font-size: 24px;
    color: #000000;
    line-height: 276%;
    
}
.locationClass{
    margin-top: -12.5%;
    margin-left: 89%;
    position: static;
    width: 76px;
    height: 22px;
    left: 32px;
    top: 0px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}
.connectionClass{
    position: static;
    width: 110px;
    height: 22px;
    left: 0px;
    top: 0px;
    margin-left: 166%;
    margin-top: -18%;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}
.LinkImage{
    margin-left: 250%;
    margin-top: -25%;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
}
.FaceImage{
    margin-left: 259%;
    margin-top: -38%;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
}
.TwitImage{
    margin-left: 268%;
    margin-top: -51%;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
}
.mailClass{
    position: static;
    width: 163px;
    height: 22px;
    left: 32px;
    top: 0px;

    font-family: Work Sans;
    font-size: 18px;
    line-height: 270%;
    margin-left: -21%;
    color: #000000;
}
.phoneClass{
    position: static;
    width: 134px;
    height: 22px;
    left: 32px;
    top: 0px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 701%;
    margin-left: -132%;
    color: #000000;
    flex: none;
    order: 1;
}
.contactClass{
    position: static;
    width: 79px;
    height: 22px;
    left: 0px;
    top: 38px;
    margin-left: -55%;
    margin-top: -13.9%;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}
.popularClass{
    position: static;
    width: 68px;
    height: 22px;
    left: 0px;
    top: 76px;
    margin-left: -54%;
    margin-top: -2%;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}

/* MOBILE VIEW */
.rectImage{
    position: absolute;
    width: 24px;
    height: 2px;
    left: 0px;
    top: 14px;
    background: #000000;
    border-radius: 4px;
    margin-left: 5%;
}
.rectImage2{
    position: absolute;
    width: 24px;
    height: 2px;
    left: 18px;
    top: 18px;
    background: #000000;
    border-radius: 4px;
}
.rectImage3{
    position: absolute;
    width: 24px;
    height: 2px;
    left: 18px;
    top: 22px;
    background: #000000;
    border-radius: 4px;
}
.ellipseImage{
    position: absolute;
    left: 18.43%;
    right: -38.43%;
    top: 27.87%;
    bottom: 62.5%;
    transform: rotate(90deg);
}
.mobileconnectedClass{
    position: absolute;
    width: 265px;
    height: 116px;
    left: 24px;
    top: 100px;
    font-family: Work Sans;
    font-size: 48px;
    line-height: 120%;
    color: #000000;
}
.paraClass1{
    position: absolute;
    width: 306px;
    height: 87px;
    left: 29px;
    top: 220px;
    font-family: Work Sans;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    opacity: 0.85;
}
.mobilefirstImage{
    
    position: absolute;
    width: 327px;
    height: 199px;
    left: 24px;
    top: 391px;

}
.mobileartificialClass{
    position: static;
    width: 244px;
    height: 29px;
    font-family: Work Sans;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
}
.mobileartparaClass{
    position: static;
    width: 327px;
    height: 192px;
    left: 0px;
    top: 51px;
    font-family: Work Sans;
    font-size: 17px;
    line-height: 150%;
    color: #000000;
}
.mobilereadButtonone{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    position: static;
    width: 101px;
    height: 44px;
    margin-top: 6%;
    top: 491px;
    background: #424242;
    margin-left: 7.3%;
    font-size: 19px;
    font-family: Work Sans;
    line-height: 152%
}
.mobileFourthImage{
    position: static;
    width: 262.63px;
    height: 250px;
    left: 0px;
    top: 0px;
    margin-left: 7.3%;
    margin-top: 24%;

}
.mobilethirdImage{
    position: static;
    width: 314px;
    height: 184px;
    left: 0px;
    top: 0px;
    margin-left: 7.1%;
    margin-top: 26%;

}
.mobileFifthImage{
    position: static;
    width: 328px;
    height: 212px;
    left: 0px;
    top: 0px;
    margin-left: 4%;
    margin-top: 15%;
}
.mobilesixthImage{
    width: 3%;
    margin-left: 9%;
    margin-top: 6%;

}
.mobileipseClass{
    position: static;
    width: 150px;
    height: 29px;
    left: 0px;
    top: 0px;
    color: #000000;
    font-family: Work Sans;
    font-size: 24px;
    line-height: 120%;
    margin-left: 7%;
    margin-top: 14%;
}
.mobileseventhImage{
    left: 20.83%;
    right: 20.83%;
    top: 12.49%;
    bottom: 12.5%;

}
.mobilelocationClass{
    position: static;
    width: 76px;
    height: 22px;
    left: 32px;
    top: 0px;
    color: #000000;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 120%;

}
.mobilemailImage{
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    
}
.mobilephoneClass{
    margin-left: 17%;
    margin-top: -16%;
    position: static;
    width: 134px;
    height: 22px;
    left: 32px;
    top: 0px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 120%;
    color: black;
}
.mobileconnectionClass{
    position: static;
    width: 110px;
    height: 22px;
    left: 0px;
    top: 0px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 120%;
    color: #000000;

}
.mobileLinkImage{
    position: absolute;
    left: 7.33%;
    right: 8.33%;
    margin-top: -9%;
}
.mobileFaceImage{
    position: absolute;
    left: 17.94%;
    right: 10.94%;
    margin-top: -9%;
}
.mobileTwitImage{
    position: absolute;
    width: 22px;
    height: 18px;
    left: 102px;
    margin-top: -31px;


}






