.parentDiv{
    background-color: #E6E6E6;
    min-height: 4000px;
}
/* ******* LANDING PAGE **********  */
.landingPage{
    background: white;
    position: relative;
    width: 1022px;
    height: 812px;
    top: 90px;
}
.navbarClass{
    background: #AFB3BE;
}
.uk-navbar {
    display: flex;
    position: relative;
    position: absolute;
    width: 1022px;
    height: 74px;
    left: 0px;
    top: 0px;
    background: #AFB3BE;
}
.ellipseImageOne{
    position: absolute;
    left: 4.07%;
    right: 55.56%;
    top: 30.41%;
    bottom: 72.22%;
}
.ellipseImageTwo{
    position: absolute;
    left: 3.4%;
    right: 37.5%;
    top: 39.28%;
    bottom: 14.35%;

}
.ellipseImageThree{
    position: absolute;
    left: 5.3%;
    right: 29.63%;
    top: 60.15%;
    bottom: 6.48%;
}
.ellipseImageFour{
    position: absolute;
    left: 6.4%;
    right: 3.7%;
    top: 30.41%;
    bottom: 72.22%;

}
.ellipseImageFive{
    position: absolute;
    left: 6.7%;
    right: -38.43%;
    top: 40.87%;
    bottom: 62.5%;
}

.uk-navbar-nav>li>a.Exploreclass {
    
    text-transform: capitalize;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
    font-family: Work Sans;
    font-size: 24px;
    line-height: 120%;
    opacity: 0.85;
}
.mainheadingClass{
    position: absolute;
    width: 449px;
    height: 172px;
    left: 34px;
    top: 112px;
    font-family: Work Sans;
    font-size: 72px;
    line-height: 120%;
    color: #000000;
}
.landpageparaClass{
    position: absolute;
    width: 414px;
    height: 87px;
    left: 34px;
    top: 328px;
    font-family: Work Sans;
    font-size: 24px;
    line-height: 120%;
    color: black;
}
.heroImageClass{
    position: absolute;
    width: 622px;
    height: 360px;
    left: 389px;
    top: 157px;
}
.uk-button {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 15px;
    vertical-align: middle;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
}
.learnmoreButton{
    border: 2px solid #D7313B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 59%;
    left: 3.8%;
    color: #D7313B;
    
}
.learnmoreButton:hover{
    color: #D7313B ;
}
.connectButton{
    position: absolute;
    width: 129px;
    height: 49px;
    left: 211px;
    top: 480px;
    color: white;
    background: #FF3946;
}
.uk-button-primary:hover {
    background-color: #FF3946;
   
}
.uk-button-default:hover {
    border: 2px solid #D7313B;
   
}
  /* ******** FORM PAGE **********  */

  .formMaindiv{
    position: relative;
    height: 706px;
    background: #EFEFEF;
    width: 1024px;
    top: 113px;
    
  }
  .formPage{
        background: white;
        position: absolute;
        width: 466px;
        height: 490px;
        left: 298px;
        top: 89px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 32px;
  }
  .formTitle{
    position: static;
    width: 290px;
    height: 42px;
    left: 32px;
    top: 40px; 
    font-family: Work Sans;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
  }
  .nameLabelClass{
    position: static;
    width: 197px;
    height: 21px;
    left: 0px;
    top: 0px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  .NameClass{
    position: absolute;
    width: 402px;
    height: 44px;
    left: 32px;
    top: 142px;
    
  }
  .uk-input:disabled{
        background-color: white;
  }
  .uk-input:disabled::-webkit-input-placeholder {
    color: black;
    opacity: .8;
    border-color: rgba(0, 0, 0, 0.5);
    font-family: Work Sans;
    font-size: 18px;
    line-height: 21px;
}
.occupationClass,.NameClass,.addressClass{
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    background-color: white;
    font-family: Work Sans;
    font-size: 16px;
    line-height: 150%;

}
.occupationLabelClass{
    position: absolute;
    height: 21px;
    left: 32px;
    top: 203px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    
}
.occupationClass{
    position: absolute;
    width: 402px;
    height: 44px;
    left: 32px;
    top: 240px;
}
.addressLabelClass{
    position: absolute;
    width: 71px;
    height: 21px;
    left: 33px;
    top: 301px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 21px;
    color: #000000;

}
.addressClass{
    position: absolute;
    width: 402px;
    height: 44px;
    left: 32px;
    top: 338px;

}
.submitButton{
    position: absolute;
    width: 87px;
    height: 41px;
    left: 32px;
    top: 409px;
    background: #364AFC;
    border-radius: 8px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    border: none;
}


/* ******DOMAIN EXPERTICE PAGE*********** */
.domainMainDiv{
    position: relative;
    width: 1024px;
    background: white;
    min-height: 1470px;
    top: 213px;

}
.yellowlineClass{
    position: absolute;
    width: 347px;
    height: 5px;
    left: 81px;
    top: 68px;
    background: #FCB705;
}
.domainMainTitle{
    position: absolute;
    width: 415px;
    height: 58px;
    left: 82px;
    top: 31px;
    font-family: Work Sans;
    font-size: 48px;
    line-height: 120%;
    color: #000000;

}
.artImageClass{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 81px;
    top: 198px;

}
.artTitleClass{
    position: absolute;
    width: 365px;
    height: 43px;
    left: 71px;
    top: 427px;
    font-family: Work Sans;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
}
.artparaClass{
    position: absolute;
    width: 467px;
    height: 120px;
    left: 72px;
    top: 513px;
    font-family: Work Sans;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.artButton,.machineButton,.machineButton2,.cloudButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: #424242;
    font-family: Work Sans;
    font-size: 16px;
    line-height: 150%;
    color: white;
    text-transform: lowercase;
    justify-content: center;
    border: none;
}
.artButton{
    position: absolute;
    width: 101px;
    height: 44px;
    left: 73px;
    top: 681px;
}
.machineImageClass{
    position: absolute;
    width: 351.44px;
    height: 203px;
    left: 73px;
    top: 784px;
}
.machineTitleClass{
    position: absolute;
    width: 311px;
    height: 43px;
    left: 72px;
    top: 973px;
    font-family: Work Sans;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
}
.machineparaClass{
    position: absolute;
    width: 467px;
    height: 120px;
    left: 73px;
    top: 1052px;
    font-family: Work Sans;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.machineButton{
    position: absolute;
    width: 101px;
    height: 44px;
    left: 72px;
    top: 1215px;

}
.machineImageClass2{
    position: absolute;
    width: 262.63px;
    height: 250px;
    left: 553px;
    top: 196px;
}
.machineTitleClass2{
    position: absolute;
    width: 311px;
    height: 43px;
    left: 551px;
    top: 427px;
    font-family: Work Sans;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
}
.machineparaClass2{
    position: absolute;
    width: 467px;
    height: 120px;
    left: 553px;
    top: 513px;
    font-family: Work Sans;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.machineButton2{
    position: absolute;
    width: 101px;
    height: 44px;
    left: 553px;
    top: 681px;

}
.cloudImageClass2{
    position: absolute;
    width: 351.61px;
    height: 203px;
    left: 532px;
    top: 784px;
}
.cloudTitleClass{
    
    position: absolute;
    width: 302px;
    height: 43px;
    left: 553px;
    top: 973px;
    font-family: Work Sans;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
}
.cloudparaClass{
    position: absolute;
    width: 467px;
    height: 120px;
    left: 557px;
    top: 1052px;
    font-family: Work Sans;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.cloudButton{
    position: absolute;
    width: 101px;
    height: 44px;
    left: 556px;
    top: 1215px;

}

/* ********FOOTER PAGE********** */

.footerMainDiv{
    position: relative;
    width: 960px;
    height: 207px;
    background: #AFB3BE;
    top: 602px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 32px; */
}
.footerellipseImageOne{
    position: absolute;
    left: 5.07%;
    right: 55.56%;
    top: 25.41%;
    bottom: 72.22%;
}
.footerellipseImageTwo{
    position: absolute;
    left: 4.3%;
    right: 37.5%;
    top: 29.28%;
    bottom: 14.35%;

}
.footerellipseImageThree{
    position: absolute;
    left: 6%;
    right: 29.63%;
    top: 37.15%;
    bottom: 6.48%;
}
.footerellipseImageFour{
    position: absolute;
    left: 7.93%;
    right: 3.7%;
    top: 25.41%;
    bottom: 72.22%;
}
.footerellipseImageFive{
    position: absolute;
    left: 8.3%;
    right: -38.43%;
    top: 29.87%;
    bottom: 62.5%;
}
.ipseClass,.serviceClass,.socialClass{
    font-family: Work Sans;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
}
.ipseClass{
    position: absolute;
    width: 150px;
    height: 29px;
    left: 230px;
    top: 21px;
}
.locationImage{
    position: absolute;
    left: 24.8%;
    top: 40%;
}
.locationClass,.mailClass,
.phoneClass,.connectionClass,
.contactClass,.popularClass{
    font-family: Work Sans;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}
.locationClass{
    position: absolute;
    width: 76px;
    height: 22px;
    left: 27.6%;
    top: 40%;
}
.mailImage{
    position: absolute;
    left: 24.5%;
    top: 56%;

}
.mailClass{
    position: absolute;
    width: 163px;
    height: 22px;
    left: 265px;
    top: 113px;
}
.phoneImage{
    position: absolute;
    left: 24.4%;
    top: 72%;
}
.phoneClass{
    position: absolute;
    width: 134px;
    height: 22px;
    left: 27.2%;
    top: 71%;

}
.serviceClass{
    position: absolute;
    width: 99px;
    height: 29px;
    left: 54%;
    top: 21px;

}
.connectionClass{
    position: absolute;
    width: 110px;
    height: 22px;
    left: 54%;
    top: 29%;

}
.contactClass{
    position: absolute;
    width: 110px;
    height: 22px;
    left: 54%;
    top: 45%;
}
.popularClass{
    position: absolute;
    width: 110px;
    height: 22px;
    left: 54.2%;
    top: 61%;

}
.socialClass{
    position: absolute;
    width: 150px;
    height: 29px;
    left: 82%;
    top: 20px;

}
.linkImage{
    position: absolute;
    left: 82.4%;
    top: 39%;
}
.faceImage{
    position: absolute;
    left: 86.4%;
    top: 39%;
}
.twitImage{
    position: absolute;
    left: 90.4%;
    top: 40%;
}
